<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Deploy Test</title>
</head>

<body>

  <div class="div_5">
    <br><br>
    <h3>{{ classification_text }}<h3>
    <h3>{{ prediction_text }}</h3>
    <h3>{{ prediction_text_1 }}</h3>
    <h3>{{ prediction_text_2 }}</h3>
    <br>
    <h3>{{ classification_text_1 }}<h3>
    <h3>{{ classification_text_2 }}<h3>
    <h3>{{ classification_text_3 }}<h3>
    <h3>{{ classification_text_4 }}<h3>
    <h3>{{ classification_text_5 }}<h3></h3>
  </div>

</body>

</html>